.landing-header {
  background-color: #073042;
  padding: 96px 70px 75px;
}

.landing-header__content {
  display: grid;
  grid-template-areas:
    'heading image'
    'span image'
    'span image';
}

.landing-header__heading {
  grid-area: heading;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  color: #ffffff;
  max-width: 640px;
  margin: 0;
}

.landing-header__logo {
  grid-area: image;
  align-self: start;
  justify-self: end;
}

.landing-header__span {
  grid-area: span;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  max-width: 310px;
  margin-top: 36px;
}

.landing-header__button {
  grid-area: span;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 3px;
  opacity: 0.6;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  margin-top: 146px;
  width: 93px;
}

@media screen and (max-width: 1279px) {
  .landing-header {
    padding: 140px 44px 76px;
  }

  .landing-header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-header__logo {
    align-self: center;
  }

  .landing-header__heading {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-top: 48px;
  }

  .landing-header__span {
    text-align: center;
    width: 260px;
    margin-top: 22px;
  }

  .landing-header__button {
    margin-top: 92px;
  }
}

@media screen and (max-width: 767px) {
  .landing-header {
    padding: 70px 55px 80px;
  }

  .landing-header__logo {
    width: 100%;
  }

  .landing-header__heading {
    font-size: 30px;
    line-height: 38px;
    margin-top: 44px;
  }

  .landing-header__span {
    font-size: 13px;
    line-height: 16px;
    margin-top: 24px;
  }

  .landing-header__button{
    margin-top: 80px;
  }
}
