.popup {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  visibility: hidden;
  display: flex;
  justify-content: end;
  transition: all 0.2s linear;
}

  .popup_type_error{
    justify-content: center;
    align-items: center;
  }

.popup_opened {
  visibility: visible;
}

.popup__container {
  padding: 159px 90px 90px;
  background-color: #202020;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin 0.5s ease;
  margin-right: -520px;
}

.popup__container_type_error {
  max-width: 354px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  padding: 34px 36px 37px;
  max-height: 300px;
  margin-right: -140%;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.popup__container_opened {
  margin: 0;
}

.popup__close-btn {
  position: absolute;
  top: 21.44px;
  right: 17.44px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: transparent;
  border: none;
}

.popup__close-btn_hidden{
  visibility: hidden;
}

.popup__close-btn_type_error {
  top: -34.56px;
  right: -34.56px;
}

.popup__close-btn:hover {
  opacity: 0.7;
}

.popup_type_error {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .popup__container {
    padding: 144px 10px 46px;
    width: 100%;
  }

  .popup__close-btn {
    top: 12.44px;
    right: 8.44px;
  }
}
