
.section__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  padding-bottom: 22px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #dadada;
}

@media screen and (max-width: 767px) {
  .section__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}
