.searchbar {
  display: flex;
  flex-direction: row;
  background-color: #2f2f2f;
  border-radius: 9px;
  max-width: 1140px;
  padding: 16px 30px 16px 19px;
  align-items: center;
  /* margin: 0 auto 0; */
  flex-grow: 1;
}

.searchbar svg {
  padding-right: 10px;
}

.searchform {
  display: flex;
  width: 100%;
}

.searchform__input-container {
  display: flex;
  justify-self: stretch;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
}

.searchform__checkbox-span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin-left: 14px;
}

.searchform__submit-button {
  background-color: #4285f4;
  padding: 8px 12px;
  border: none;
  border-radius: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s linear;
  /* mb1 */
}

.searchform__submit-button:hover{
  background-color: #3ddc84;
}

.searchform__label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  left: 19px;
  transform: translateX(-50%);
  background-color: #202020;
  border-radius: 90px;
  z-index: 2;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.searchform__input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: auto;
  /* margin-left: 10px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}

.searchform__checkbox-container {
  padding-left: 28px;
  border-left: 1px solid #424242;
  margin-left: 30px;
  height: 38px;
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.searchform__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.searchform__checkbox-toggle {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #3ddc84;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.searchform__label input:checked + .searchform__checkbox-toggle {
  transform: translate3d(16px, 0, 0) rotate(0);
}

@media screen and (max-width: 1279px) {
  .searchbar {
    padding: 19px;
  }

  .searchform__checkbox-span {
    font-size: 13px;
    margin-left: 15px;
  }
  .searchform {
    width: 100%;
  }

  .searchform__checkbox-container {
    padding-left: 19px;
    margin-left: 19px;
  }

  .searchform__input {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .searchbar {
    background-color: transparent;
    padding: 0;
  }

  .searchbar svg {
    display: none;
  }

  .searchform {
    flex-direction: column;
  }

  .searchform__input-container {
    background-color: #2f2f2f;
    padding: 19px;
    border-radius: 9px;
  }

  .searchform__input {
    width: 200px;
    font-size: 14px;
    line-height: 20px;
  }

  .searchform__submit-button {
    font-size: 11px;
    line-height: 18px;
    padding: 8px 12.67px;
  }

  .searchform__checkbox-container {
    border: none;
    padding: 0;
    margin: 35px 0 0;
    justify-content: center;
  }

  .searchform__label {
    background-color: #1d1d1d;
  }

  .searchform__checkbox-span {
    margin-left: 13px;
    font-size: 11px;
    line-height: 18px;
  }
}
