.search{
  padding: 68px 0 70px 13px;
  display: flex;
  width: 1140px;
  border-bottom: 1px solid #424242;
}


@media screen and (max-width: 1279px) {
  .search{
    padding-left: 0;
    padding-bottom: 109px;
    width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .search{
    padding: 72px 0 36px;
    width: 300px;
  }

}
